@page "/crust"
@rendermode InteractiveServer

<h3>Pizza Crust</h3>

<label>
	<input type="checkbox" @bind='pizza.PizzaCrusts.ThinCrust' />
	Thin Crust
</label>
<br />

<label>
	<input type="checkbox" @bind='pizza.PizzaCrusts.PanCrust' />
	Pan Crust
</label>
<br />

<label>
	<input type="checkbox" @bind='pizza.PizzaCrusts.HandTossed' />
	Hand Tossed
</label>
<br />

<p>Crust Selection Checker</p>
<ul>
	@if (pizza.PizzaCrusts.ThinCrust)
	{
		<li>Thin Crust</li>
	}
	@if (pizza.PizzaCrusts.PanCrust)
	{
		<li>Pan Crust</li>
	}
	@if (pizza.PizzaCrusts.HandTossed)
	{
		<li>Hand Tossed</li>
	}
</ul>

<p>Total Price: @pizza.GetCrustPrice().ToString("C")</p>

@code {

	[Parameter]
	public Pizza pizza { get; set; }




}
