@page "/pizzadel"
@rendermode InteractiveServer

<h3>Pizza Crust</h3>

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.Bacon' />
	Bacon
</label>
<br />

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.MoreBacon' />
	More Bacon
</label>
<br />

<label>
	<input type="checkbox" @bind='pizza.PizzaTopping.ExtraBacon' />
	Extra Bacon
</label>
<br />

<p>Topping Selection Checker</p>
<ul>
	@if (pizza.PizzaTopping.Bacon)
	{
		<li>Bacon</li>
	}
	@if (pizza.PizzaTopping.MoreBacon)
	{
		<li>More Bacon</li>
	}
	@if (pizza.PizzaTopping.ExtraBacon)
	{
		<li>Extra Bacon</li>
	}
</ul>

<p>Total Price: $@pizza.GetFinalPrice()</p>

@code {
	Pizza pizza = new Pizza();

}
